<div class="row">
    <form>
        <div class="form-row">
            <div class="col">
                <label for="originAirport">Origin</label>
                <input class="form-control" id="originAirport" aria-describedby="originAirport" placeholder="Origin">
            </div>
            
            <div class="col">
                <label for="destinationAirport">Destination</label>
                <input class="form-control" id="destinationAirport" placeholder="Destination">
            </div>

            <div class="col">
                <label for="departureDate">Departure Date</label>
                <input class="form-control" id="departureDate" placeholder="Date">
            </div>
            
            <div class="col">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>    
</div>


