<div class = "top">
  <div class="row">
    <div class="breadcrumb-item active">
          
              <img class="swlogo" src='SouthworstAirlinesWhite-03.png'>
           
    </div>
  </div>
</div>

  <nav>
    <ol class="breadcrumb">
      
          <div class = 'col col-sm-2'>
              <a class='display-5' [routerLink]="['']">Book</a>   
          </div> 
          <div class = 'col col-sm-2'>
              <a class='display-5' [routerLink]="['']">Look-Up</a>    
          </div>
            
    </ol>
  </nav>
 
  <div class ="bottom">
    
      <h1>logo stuff</h1>
        <div class="row">
            <div class="breadcrumb-item active">
                <!-- <img src='prez.png'> -->
              <img src='SouthworstAirlines-01-01-02.png'>
          </div>
      </div>
    </div>

<router-outlet></router-outlet>


